.header {
  position: absolute;
  display: flex;
  z-index: 1;
  top: 0%;
  left: 0%;
  padding: 35px;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  box-sizing: border-box;
  align-items: center;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .header {
    padding: 10px;
  }
  .header .nav a {
    font-size: 16px;
  }
}

@media (max-width: 1536px) {
  .header {
    padding: 10px;
  }
}

.header .logo {
  display: flex;
  cursor: pointer;
  align-self: flex-start;
}

.header .logo p {
  margin: 0px;
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.header .logo .name {
  display: flex;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.header .logo .name p {
  position: relative;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.header .logo .name p:nth-of-type(2) {
  padding-left: 0.3em;
}

.header .logo .name p:nth-of-type(3) {
  position: absolute;
  left: 130px;
  padding-left: 0.3em;
}

.header .logo:hover .copyright {
  transform: rotate(360deg);
}

.header .logo:hover .name {
  padding-right: 30px;
}

.header .logo:hover .name .codeBy {
  transform: translateX(-100%);
}

.header .logo:hover .name .fateme {
  transform: translateX(-65px);
}

.header .logo:hover .name .adiban {
  transform: translateX(-65px);
}

.header .nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: flex-start;
}

.header .nav .el {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 15px;
  cursor: pointer;
  letter-spacing: -0.025em;
}

.header .nav a {
  cursor: pointer;
  text-decoration: none;
}

.headerButtonContainer {
  transform: scale(0);
  position: fixed;
  right: 0px;
  z-index: 4;
}

.headerButtonContainer .button {
  position: relative;
  margin: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #76746f;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .headerButtonContainer .button {
    width: 70px;
    height: 70px;
  }
}

.headerButtonContainer .burger {
  width: 100%;
  position: relative;
  z-index: 1;
}

.headerButtonContainer .burger::after,
.headerButtonContainer .burger::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 40%;
  margin: auto;
  background-color: #e6e6e1;
  position: relative;
  transition: transform 0.3s;
}

.headerButtonContainer .burger::after {
  top: -5px;
}

.headerButtonContainer .burger::before {
  top: 5px;
}

.headerButtonContainer .burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.headerButtonContainer .burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}
